name: Pull GAS Projects

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Clasp Init
        uses: ./.github/actions/clasp_init

      - name: Set up authentication
        uses: ./.github/actions/create_clasprc
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          id_token: ${{ secrets.ID_TOKEN }}
          refresh_token: ${{ secrets.REFRESH_TOKEN }}
          client_id: ${{ secrets.CLIENT_ID }}
          client_secret: ${{ secrets.CLIENT_SECRET }}

      - name: Pull project
        run: yarn pull-all

      - name: Create PR
        uses: ./.github/actions/create_pr
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          project: all-projects
